.box{
    margin-top: 100px;
    margin-left: 100px;
    background-color: rgb(100,250,0);
    height: 150px;
    width:150px;
    padding-left: 1px;
    padding-top: 1px;}
.box:hover{
    transform: rotate(45deg);
}   
    

}

